{% from "main::text.html" import show_passage, header_passage, default_footer, nav with context %}

{% extends "main::container.html" %}

{% macro tb_macro() %}
<div id="treebank_container">It should be overloaded by javascript
{{ annotations }}
</div>
{% endmacro %}

{% macro tabs(text, treebank) %}
    <div style="margin:10px 0;">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Text</a></li>
        <li role="presentation"><a href="#treebank" aria-controls="treebank" role="tab" data-toggle="tab">Treebank</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            {{ text }}
        </div>
        <div role="tabpanel" class="tab-pane" id="treebank">
            {{ treebank }}
        </div>
      </div>
        <script type="text/javascript">
            loadArethusaWidget(
                "treebank",
                {{ url_for(".r_annotation_get", uri=treebank) }},
                "http://localhost:8090/configs/widget.tree.json",
                {{ url_for(".r_arethusa_dependencies") }}
            );
        </script>
    </div>
{% endmacro %}

{% block article %}
{{ show_passage(tabs(text_passage, tb_macro()), navigation=nav(), header=header_passage(), footer=default_footer())  }}
{% endblock %}